<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lab 1
        </mat-panel-title>
        <mat-panel-description>
          Shining button
        </mat-panel-description>
      </mat-expansion-panel-header>

      <css-shining-button></css-shining-button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lab 2
        </mat-panel-title>
        <mat-panel-description>
          Bounce Loader
        </mat-panel-description>
      </mat-expansion-panel-header>

      <css-bounce-loader></css-bounce-loader>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lab 3
        </mat-panel-title>
        <mat-panel-description>
          Bounce Loader
        </mat-panel-description>
      </mat-expansion-panel-header>

      <css-traffic-light></css-traffic-light>
    </mat-expansion-panel>
  </mat-accordion>
</div>
